<html>
   <body>
      <form action="/asama1" method="POST">
    <h3 align=center> Lütfen url girin </h3>
    <div class="form-group">
        <label for="email">url1</label>
        <input
            type="url1"
            class="form-control"
            id="url1"
            name="url1"
            placeholder="Enter url"
            required
        />
    </div>
     <div class="form-group">
        <label for="email">url2</label>
        <input
            type="url2"
            class="form-control"
            id="url2"
            name="url2"
            placeholder="Enter url"
            required
        />
    </div>
    <br>
    <button type="submit" value="submit" class="btn btn-primary"> İşleme Koy </button>
</form>

</body>
</html>

